<component name="ArtifactManager">
  <artifact type="war" name="spring-notes-web-mvc:war">
    <output-path>$PROJECT_DIR$/spring-notes/codes/web/mvc/target</output-path>
    <root id="archive" name="spring-notes-web-mvc.war">
      <element id="artifact" artifact-name="spring-notes-web-mvc:war exploded" />
    </root>
  </artifact>
</component>